$black: #101010;
$red-ryb: #ff1d1e;
$international-klein-blue: #2a29b9;
$mountbatten-pink: #977390;
$uranian-blue: #b1ddf1;
body{
    margin: 0;
    padding: 0;
}
.container{
    .section{
        &.landing{

            width: 100vw;
            height: 100vh;
            background-color: $red-ryb;
            
            .landingContainer{
                display:flex;
                height: 100vh;
                .landingCardContainer{
                    width:50vw;
                    display:flex;
                    flex-direction: column;
                    justify-content:center;
                    .landingCard{
                        display: flex;
                        flex-direction: column;
                        .landingCardHeader{
                            display:flex;
                            justify-content:center;
                            
                            height:20%;
                            .landingCardName{
                                width:45%;
                                font-size:1.5em;
                                display: flex;
                                justify-content:center;
                                span.hidding {
                                    display: inline-block;
                                    overflow: hidden;
                                    width: 0px;
                                    transition: width .5s;
                                }
                                &:hover{
                                    .jean{
                                        width:50px;
                                    }
                                    .luc{
                                        width:30px;
                                    }
                                    .chrisoph{
                                        width:90px;
                                    }
                                    .dittler{
                                        width:60px;
                                    }
                                }
                            }
                        }
                        .landingCardContent{
                            display:flex;
                            flex-direction:row;
                            .landingCardLeft{
                                width:50%;
                            }
                            .landingCardRight{
                                width:50%;
                            }
                        }
                    }
                }
                .landingText{
                    width:50vw;
                }
                .profile{
                    width: 50vw;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            
        }
        &.skills{
            width: 100vw;
            height: 100vh;
            background-color:lighten($black, 20%);
        }
    }
}