$black: #101010;
$red-ryb: #ff1d1e;
$international-klein-blue: #2a29b9;
$mountbatten-pink: #977390;
$uranian-blue: #b1ddf1;
body{
    margin: 0;
    padding: 0;
}
.container{
    font-family: "Roboto Slab", serif;
    overflow: hidden;
    .section{
        &.landing{

            width: 100vw;
            height: 100vh;
            background-color: $red-ryb;
            
            .landingContainer{
                display:flex;
                height: 100vh;
                
                .landingCardContainer{
                    position: relative;
                    width:50vw;
                    
                    display:flex;
                    flex-direction: column;
                    justify-content:center;
                    
                    .landingCard{
                        overflow: hidden;
                        border-radius: 5px;
                        color:white;
                        margin: auto;
                        width:60%;
                        aspect-ratio: 16/9;
                        background-color: $black;
                        display: flex;
                        flex-direction: column;
                        &:hover{
                            .landingCardHeader{
                                .landingCardName{
                                .jean{
                                    width:50px;
                                }
                                .luc{
                                    width:30px;
                                }
                                .chrisoph{
                                    width:100px;
                                }
                                .dittler{
                                    width:60px;
                                }
                            }
                        }
                        }
                        .landingCardHeader{
                            display:flex;
                            justify-content:center;
                            
                            height:10%;
                            .landingCardName{
                                width:60%;
                                font-size:1.5em;
                                display: flex;
                                justify-content:center;
                                user-select: none;          
                                span.hidding {
                                    display: inline-block;
                                    overflow: hidden;
                                    width: 0px;
                                    transition: width .5s;
                                }
                                
                            }
                        }
                        .landingCardContent{
                            height: 75%;
                            display:flex;
                            flex-direction:row;
                            
                            .landingCardLeft{
                                width:50%;
                            }
                            .landingCardRight{
                                width:50%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                               
                                .landingText{
                                    width:50vw;
                                    
                                }
                                .landingCardRightText{
                                    
                                    text-align: center;
                                    
                                }
                            }
                        }
                        .landingCardFooter{
                            height:15%;
                            display: flex;
                            width:100%;
                            flex-direction:row;
                            justify-content:center;
                            transition: all 0.2s;
                           
                            
                            &:hover{
                                cursor:pointer;
                                border-radius:  0 0 5px  5px ;
                                background-color:#b1ddf155;
                                transform: scale(1.15);
                            }
                            .landingCardFooterContent{
                                text-align:center;
                            }
                        }
                    }
                }
                
                .profile{
                    position: relative;
                    width: 50vw;
                    overflow: hidden;
                    img{
                        position: absolute;
                        left: -500px;
                        height:100%;
                        aspect-ratio: 16/9;
                    }
                }
            }
            
        }
        &.skills{
            width: 100vw;
            height: 100vh;
            background-color:lighten($black, 20%);
        }
    }
}